@font-face {
    font-family: 'GothamProMedium';
    src: url('GothaProMed.eot');
    src: url('GothaProMed.eot') format('embedded-opentype'),
         url('GothaProMed.woff2') format('woff2'),
         url('GothaProMed.woff') format('woff'),
         url('GothaProMed.ttf') format('truetype'),
         url('GothaProMed.svg#GothaProMed') format('svg');
}
