/*_____________________________vertical scrolling_______________________________________________*/
.wrap-bottom {
  position: fixed;
  right: 15px;
  bottom: 25px;
}
#ToTop {
  width: 36px;
}
.go-up {
  position: relative;
  z-index: 9999;
  cursor: pointer;
  font-size: 40px;
  opacity: .6;
  display: block;
}
.go-up .fa-chevron-circle-up {
  color: #AD9B74;
}
.go-down:hover,
.go-up:hover {
  opacity: 1;
}
html,
body {
  height: 100%;
}
* {
  font-family: "GothamProRegular";
  font-size: 14px;
  color: #fff;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.row {
  width: 874px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}
a {
  text-decoration: none;
  padding: 11px 10px;
}
.autoheight {
  height: 100%;
}
.vert-center {
  display: table;
}
.relative {
  position: relative;
}
html::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}
html::-webkit-scrollbar-thumb {
  background-color: rgba(1, 57, 82, 0.79);
}
html::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
#wrapper {
  height: 100%;
  position: relative;
}
.head {
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(1, 57, 82, 0.79);
}
.head .toggle-menu {
  display: none;
  width: 50px;
  height: 42px;
  padding: 0 3px;
  margin-top: 0px;
}
.head .toggle-menu div {
  height: 4px;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 3px;
  background-color: #f8bc2d;
  border-radius: 3px;
}
.logo {
  margin-right: 142px;
  float: left;
}
.logo a {
  cursor: pointer;
}
.logo a img {
  width: 215px;
}
.menu {
  display: table;
}
.menu span {
  transition: 0.3s;
}
.menu span.active {
  border-bottom: 3px solid #f8bc2d;
  padding-bottom: 9px;
}
.menu span.active a:hover {
  border-color: transparent;
}
.menu a {
  font-family: "GothamProMedium";
  padding: 9px 0px 20px 0;
  margin: 0 7px;
  line-height: 38px;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s, padding 0.3s;
}
.menu a:hover,
.menu a.active {
  border-bottom: 3px solid #f8bc2d;
  padding-bottom: 9px;
}
.menu a.callback-btn {
  padding: 9px;
  border: 0;
  border-radius: 3px;
  transition: background-image 0.3s;
  background-image: -moz-linear-gradient(90deg, #f89c2d 14%, #f8bc2d 100%);
  background-image: -webkit-linear-gradient(90deg, #f89c2d 14%, #f8bc2d 100%);
  background-image: -ms-linear-gradient(90deg, #f89c2d 14%, #f8bc2d 100%);
  box-shadow: 0 2px 0 0 #cb7a17, inset 0 2px 0 0 rgba(255, 211, 107, 0.71);
  text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.15);
}
.menu a.callback-btn:hover {
  background-image: -webkit-linear-gradient(90deg, #f89c2d 100%, #f8bc2d 100%);
}
.callback-btn.outOfMenu {
  padding: 9px;
  display: none;
  border: 0;
  border-radius: 3px;
  transition: background-image 0.3s;
  background-image: -moz-linear-gradient(90deg, #f89c2d 14%, #f8bc2d 100%);
  background-image: -webkit-linear-gradient(90deg, #f89c2d 14%, #f8bc2d 100%);
  background-image: -ms-linear-gradient(90deg, #f89c2d 14%, #f8bc2d 100%);
  box-shadow: 0 2px 0 0 #cb7a17, inset 0 2px 0 0 rgba(255, 211, 107, 0.71);
  text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.15);
}
.callback-btn.outOfMenu:hover {
  background-image: -webkit-linear-gradient(90deg, #f89c2d 100%, #f8bc2d 100%);
}
.jumbo {
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.jumbo h1 {
  font-size: 70px;
  margin-bottom: 60px;
  font-family: "GothamProBold";
  text-align: center;
  text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.15);
}
.jumbo h1.small {
  font-size: 60px;
}
.jumbo p {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 60px;
}
.offer {
  position: absolute;
  padding-top: 25px;
  right: -40px;
  width: 270px;
}
.offer h1 {
  margin-top: 0;
  font-size: 48px;
  font-family: "GothamProLight";
  font-weight: 100;
}
.offer .title {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 30px;
}
.offer p:not(.title) {
  font-size: 14px;
  line-height: 1.3;
}
.offer a {
  margin-top: 50px;
  display: block;
  font-size: 13px;
}
@media (max-width: 1024px) {
  .offer a {
    margin-bottom: 20px;
  }
}
.offer a:last-child {
  margin-top: 40px;
}
.gallery {
  height: 520px;
  background: url(../images/laptop.png) no-repeat;
  background-size: 100%;
  position: absolute;
  width: 900px;
  left: -32%;
}
.gallery .inner {
  position: absolute;
  width: 678px;
  background: #000;
  height: 423px;
  top: 34px;
  left: 111px;
}
.gallery .inner img {
  max-width: 100%;
}
.gallery .inner a.site {
  display: block;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}
input[type="submit"] {
  cursor: pointer;
}
.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  text-transform: uppercase;
  padding: 12px 15px;
  font-size: 16px;
  text-align: center;
  text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  position: relative;
  z-index: 10;
  transition: 0.3s;
}
.btn-transparent:after {
  content: "";
  background: #fff;
  z-index: -1;
  width: 100%;
  height: 0;
  display: block;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  display: inline-block;
  position: absolute;
}
.btn-transparent:hover {
  color: #0d455b;
}
.btn-transparent:hover:after {
  height: 100%;
}
.btn-transparent .small {
  padding: 12px 5px;
}
#development-slide {
  height: 100%;
  background: url(../images/slide1.jpg) no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 50%;
  position: relative;
}
#development-slide:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(/images/lines.png) 50% 50%;
  background-size: 100%;
  z-index: 0;
}
#development-slide .row {
  z-index: 1;
}
.we-offer {
  padding-top: 10%;
  background-image: -webkit-radial-gradient(circle at 73% 23%, #79bed8, #3c91b8);
  background-image: radial-gradient(circle at 73% 23%, #79bed8, #3c91b8);
  background-color: #3c91b8;
  position: relative;
}
.we-offer:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(/images/lines-half-t.png) 50% 0%;
  background-size: 100%;
  background-repeat: repeat-x;
  z-index: 0;
}
#slide-2 {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
#slide-2 .row {
  z-index: 1;
}
#slide-2 .fp-tableCell {
  display: block;
}
#slide-3 {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
#slide-3 .row {
  z-index: 1;
}
#slide-3 .fp-tableCell {
  display: block;
}
.subscribe {
  height: 419px;
  background: url(../images/subscribe.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 5%;
}
.subscribe .row {
  width: 430px;
}
.subscribe p {
  font-size: 26px;
  font-weight: 600;
  font-family: "GothamProBold";
  text-align: center;
}
.subscribe p.small {
  font-size: 21px;
}
.subscribe form {
  width: 90%;
  margin: 0 auto;
}
.subscribe form input {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 3px solid #fff;
  height: 50px;
}
.subscribe form input[type="text"],
.subscribe form input[type="email"] {
  background-color: #fff;
  padding-left: 5%;
  color: #000;
}
.subscribe form input[type="submit"] {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.subscribe form .btn-transparent {
  display: block;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
}
.calculator {
  height: 668px;
  background-image: -webkit-radial-gradient(circle at 50% 50%, #237ba0, #14455d);
  background-image: radial-gradient(circle at 50% 50%, #237ba0, #14455d);
  background-color: #14455d;
  padding-top: 150px;
}
.calculator .calc-title {
  font-size: 30px;
  font-family: "GothamProLight";
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}
.calculator .progress-marks {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 60px;
}
.calculator .progress-marks li {
  display: inline-block;
  padding: 0 15px;
  opacity: 0.4;
  transition: 0.3s;
  position: relative;
}
.calculator .progress-marks li:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #f8bc2d;
  transition: .3s;
  top: -30px;
  left: 0;
  right: 0;
  margin: auto;
}
.calculator .progress-marks li.active {
  color: #f8bc2d;
  opacity: 1;
}
.calculator .progress-marks li.active:before {
  background-color: #f8bc2d;
}
.calculator .calc-blocks {
  font-size: 0;
  margin-bottom: 30px;
}
.calculator .calc-blocks.design {
  margin-left: 25%;
}
.calculator .calc-blocks.design .calc-block {
  width: 32%;
  margin-right: 2.1%;
  padding-left: 13%;
}
.calculator .calc-blocks .calc-block {
  display: inline-block;
  vertical-align: top;
  width: 23.8%;
  height: 65px;
  background-color: #124055;
  border-radius: 3px;
  font-size: 18px;
  font-family: "GothamProLight";
  font-weight: 100;
  line-height: 65px;
  padding-left: 9%;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.calculator .calc-blocks .calc-block:not(:last-child) {
  margin-right: 1.5%;
}
.calculator .calc-blocks .calc-block.blog {
  background-image: url(../images/blog-icon.png);
  background-repeat: no-repeat;
  background-size: 38px;
  background-position: 12% 55%;
  padding-left: 11%;
}
.calculator .calc-blocks .calc-block.shop {
  background-image: url(../images/shop-icon.png);
  background-repeat: no-repeat;
  background-size: 34px;
  background-position: 12% 55%;
  padding-left: 9%;
}
.calculator .calc-blocks .calc-block.landing {
  background-image: url(../images/landing-icon.png);
  background-repeat: no-repeat;
  background-size: 41px;
  background-position: 12% 55%;
}
.calculator .calc-blocks .calc-block.business {
  background-image: url(../images/business-icon.png);
  background-repeat: no-repeat;
  background-size: 41px;
  background-position: 12% 55%;
}
.calculator .calc-blocks .calc-block.unic {
  background-image: url(../images/unic-icon.png);
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: 12% 55%;
}
.calculator .calc-blocks .calc-block.template {
  background-image: url(../images/template-icon.png);
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: 12% 55%;
}
.calculator .calc-blocks .calc-block.domain {
  background-image: url(../images/domain-icon.png);
  background-repeat: no-repeat;
  background-size: 41px;
  background-position: 12% 55%;
}
.calculator .calc-blocks .calc-block.hosting {
  background-image: url(../images/hosting-icon.png);
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: 12% 55%;
}
.calculator .calc-blocks .calc-block.additional {
  width: 49% !important;
  padding: 0 !important;
}
.calculator .calc-blocks .calc-block.additional input {
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
  padding-left: 30px;
}
.calculator .calc-blocks .calc-block.additional:before {
  display: none;
}
.calculator .calc-blocks .calc-block:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: #2992c1;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  background-image: url(../images/icon-checked.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 0px;
}
.calculator .calc-blocks .calc-block:hover:before,
.calculator .calc-blocks .calc-block.active:before {
  opacity: 0.9;
}
.calculator .calc-blocks .calc-block.active:before {
  background-size: 32px;
}
.calculator a.calculate {
  display: block;
  margin: 0 auto;
  width: 25%;
}
.calculator .calculation-result {
  display: none;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: rgba(34, 64, 93, 0.27);
  padding: 30px;
}
.calculator .calculation-result .calculation-result-inner {
  height: 100%;
  border-radius: 50%;
  background-color: rgba(18, 64, 85, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  position: relative;
  box-shadow: 0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.15), inset 0px 1px 0px 0px rgba(35, 35, 35, 0.54);
}
.calculator .calculation-result .calculation-result-inner .price,
.calculator .calculation-result .calculation-result-inner .days {
  font-size: 28px;
  font-family: "GothamProBold";
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}
.calculator .calculation-result .calculation-result-inner .price span,
.calculator .calculation-result .calculation-result-inner .days span {
  font-size: inherit;
  font-family: inherit;
}
.calculator .calculation-result .calculation-result-inner .price {
  margin-top: 0;
  border-bottom: 2px solid #fff;
  width: 60%;
  padding-bottom: 15px;
}
.calculator .calculation-result .calculation-result-inner .days {
  padding-top: 15px;
}
.calculator .calc-finish-btns {
  display: none;
  text-align: center;
  margin-top: 50px;
}
.calculator .try-another {
  margin-right: 30px;
}
.we-are {
  height: 600px;
  padding-top: 100px;
  background-color: #fff;
}
.we-are .title {
  font-family: "GothamProLight";
  font-weight: 100;
  font-size: 48px;
  color: #013952;
  text-align: center;
}
.we-are .we-are-block {
  width: 25%;
  float: left;
  min-height: 280px;
}
.we-are .we-are-block .count {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 88px;
  text-align: center;
  color: #013952;
  margin-bottom: 50px;
  margin-top: 30px;
}
.we-are .we-are-block .text {
  color: #013952;
  font-size: 16px;
  text-align: center;
}
.hire-us {
  height: 458px;
  background: url(../images/hire-us.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 8%;
}
.hire-us .row {
  width: 430px;
  text-align: center;
}
.hire-us p {
  font-size: 30px;
  font-weight: 600;
  font-family: "GothamProBold";
  text-align: center;
  margin-bottom: 50px;
}
.hire-us p.small {
  font-size: 24px;
}
.framework {
  height: 809px;
  /*100%*/
  padding-top: 12%;
  background: -webkit-radial-gradient(circle at 50% 50%, #f8bc2d 23%, #f89c2d 100%);
  background: radial-gradient(circle at 50% 50%, #f8bc2d 23%, #f89c2d 100%);
  background-color: #f89c2d;
  position: relative;
  overflow: hidden;
}
.framework:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -34%;
  left: 0;
  background: url(/images/lines-half-orangebig.png) 50% 0% no-repeat;
  z-index: 0;
}
.framework .row {
  z-index: 1;
}
.framework .display {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  padding-right: 1%;
  position: relative;
}
.framework .display #display-inner {
  width: 69%;
  position: absolute;
  top: 11%;
  left: 15%;
}
.framework .framework-info {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-left: 1%;
  padding-left: 1%;
}
.framework .framework-info .framework-title {
  font-size: 36px;
  font-family: "GothamProLight";
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 26px;
}
.framework .framework-info .framework-title.bold {
  font-size: 22px;
  font-family: "GothamProBold";
  font-weight: 600;
}
.framework .framework-info .framework-text {
  font-size: 13px;
  line-height: 17px;
}
.framework input[type="text"],
.framework [type="email"] {
  height: 40px;
  vertical-align: top;
  border: 0;
  border-radius: 3px;
  margin-right: 19px;
  width: 73%;
  color: #000;
  padding-left: 15px;
}
.framework input[type="text"].small,
.framework [type="email"].small {
  width: 62%;
}
@media (max-width: 874px) {
  .framework input[type="text"].small,
  .framework [type="email"].small {
    width: 60%;
  }
}
.framework .btn-transparent {
  padding: 8px 15px;
}
.footer {
  height: 368px;
  background-color: #013952;
  padding-top: 100px;
}
.footer .row > div {
  display: inline-block;
  vertical-align: top;
}
.footer .row .footer-menu {
  width: 19.4%;
}
.footer .row .footer-menu a {
  display: block;
  font-family: "GothamProLight";
  font-weight: 100;
  font-size: 13px;
  text-transform: uppercase;
}
.footer .row .footer-form {
  width: 24%;
  margin-right: 6%;
  padding-top: 11px;
}
.footer .row .footer-form label {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  text-indent: 10px;
  position: relative;
}
.footer .row .footer-form input[type="text"],
.footer .row .footer-form [type="email"] {
  display: block;
  width: 100%;
  background-color: #01334a;
  border: 1px solid #03405c;
  border-radius: 3px;
  font-size: 11px;
  padding-left: 15px;
  height: 30px;
  margin-top: 15px;
}
.footer .row .footer-form input[type="submit"] {
  position: absolute;
  width: 24px;
  height: 16px;
  background: url(../images/arrow.png) no-repeat;
  background-size: 100%;
  border: 0;
  color: transparent;
  bottom: 7px;
  right: 8px;
  outline: 0;
}
.footer .row .footer-address {
  width: 24%;
  margin-right: 5%;
}
.footer .row .footer-address a {
  padding: 11px 0;
}
.footer .row .footer-address p {
  font-family: "GothamProLight";
  font-weight: 100;
  font-size: 13px;
  margin-top: 11px;
  text-transform: uppercase;
}
.footer .row .footer-social {
  padding-top: 11px;
}
.footer .row .footer-social a {
  font-size: 16px;
  display: block;
  padding: 0;
  margin-bottom: 15px;
}
.footer .row .footer-social a.linked-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../images/linked.png) no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
}
.footer .row .footer-social a.facebook-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../images/facebook.png) no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
}
.popup-window-overlay {
  background: rgba(1, 57, 82, 0.79);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  display: none;
}
.popup-window {
  background: #013952;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 4% 4%;
  z-index: 200;
  display: none;
}
.popup-window form {
  width: 32%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.popup-window form p {
  font-size: 26px;
  font-weight: 600;
  font-family: "GothamProBold";
  text-align: center;
  margin-top: 5px;
}
.popup-window form input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 3px solid #fff;
  height: 40px;
}
.popup-window form input[type=submit] {
  padding: 0;
}
.popup-window form input[type=text],
.popup-window form input[type=email] {
  background-color: #fff;
  padding-left: 5%;
  color: #000;
}
.popup-window form a {
  display: block;
}
input[type=submit]:hover {
  background-color: #fff;
}
.popup-window-close {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100;
  text-align: center;
  display: block;
  height: 20px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 5%;
  right: 5%;
}
@media (max-width: 1440px) {
  .we-offer {
    padding-top: 13%;
  }
  .gallery {
    width: 850px;
    left: -27%;
  }
  .gallery .inner {
    width: 633px;
    height: 396px;
    top: 34px;
    left: 109px;
  }
  .framework {
    height: 700px;
  }
}
@media (max-width: 1368px) {
  .head {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .we-offer {
    padding-top: 8%;
  }
  .gallery {
    left: -21%;
    width: 800px;
  }
  .gallery .inner {
    width: 597px;
    height: 370px;
    top: 34px;
    left: 102px;
  }
  .calculator {
    height: 568px;
    padding-top: 100px;
  }
  .we-are {
    height: 500px;
    padding-top: 30px;
  }
  .framework {
    height: 600px;
  }
  .footer {
    height: 268px;
    padding-top: 50px;
  }
}
@media (max-width: 1280px) {
  .we-offer {
    padding-top: 10%;
  }
  .gallery {
    left: -14%;
    width: 700px;
  }
  .gallery .inner {
    width: 520px;
    height: 325px;
    top: 29px;
    left: 90px;
  }
  .gallery .inner .site {
    padding-top: 5px;
  }
  .subscribe {
    height: 319px;
    padding-top: 2%;
  }
  .calculator {
    height: 524px;
    padding-top: 24px;
  }
  .we-are {
    height: 400px;
    padding-top: 0px;
  }
  .hire-us {
    height: 300px;
    padding-top: 4%;
  }
}
@media (max-width: 1156px) {
  .we-offer {
    padding-top: 14%;
  }
  .gallery {
    left: -5%;
    width: 600px;
  }
  .gallery .inner {
    width: 445px;
    height: 277px;
    top: 25px;
    left: 77px;
  }
  .gallery .inner .site {
    padding-top: 5px;
  }
}
@media (max-width: 1024px) {
  .head {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .gallery {
    left: 1%;
    width: 500px;
  }
  .gallery .inner {
    width: 373px;
    height: 0px;
    top: 21px;
    left: 64px;
  }
  .gallery .inner .site {
    margin-top: 55px;
  }
  .offer {
    position: absolute;
    right: 5%;
    padding-top: 0;
  }
  .framework {
    padding: 7% 0;
    height: auto;
  }
  .framework:after {
    top: -1%;
  }
}
@media (max-width: 1024px) and (max-height: 1280px) {
  .gallery {
    left: 0%;
    position: relative;
    width: 85%;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 10.7%;
    padding-top: 3.4%;
    padding-bottom: 18.6%;
  }
  .gallery .inner {
    width: 100%;
    position: static;
    top: 25px;
    left: 78px;
  }
  .offer {
    position: relative;
    width: 80%;
    margin: 0 auto;
    right: 0;
    padding-top: 0;
  }
  .we-offer {
    padding-top: 11%;
    min-height: 100% !important;
    height: auto !important;
    padding-bottom: 40px;
  }
}
@media (max-width: 874px) {
  .row {
    width: 100%;
  }
  .logo {
    margin-right: 76px;
  }
  .logo img {
    width: 200px;
  }
  .framework input[type=text] {
    margin-right: 3px;
    width: 73%;
  }
  .framework input {
    vertical-align: top;
  }
  .calculator {
    height: 538px;
    padding-top: 31px;
  }
  .footer .row .footer-address {
    width: 21%;
    margin-right: 5%;
  }
  .framework input[type="email"] {
    margin-right: 10px;
  }
  .we-offer {
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .head .row {
    padding: 0 8px;
  }
  .footer .row .footer-form,
  .footer .row .footer-address {
    width: 30%;
  }
  .menu {
    float: right;
  }
  .menu a {
    margin: 0 4px;
    font-size: 13px;
  }
  .logo {
    position: relative;
    top: 7px;
    margin-right: 0px;
  }
  .logo img {
    width: 145px;
  }
  .jumbo h1 {
    font-size: 48px;
    margin-bottom: 1%;
  }
  .calculator .calc-blocks .calc-block {
    font-size: 16px;
  }
  .calculator .calc-blocks .calc-block.blog {
    background-size: 30px;
    padding-left: 10%;
  }
  .calculator .calc-blocks .calc-block.shop {
    background-size: 29px;
    padding-left: 10%;
  }
  .calculator .calc-blocks .calc-block.landing {
    background-size: 31px;
  }
  .calculator .calc-blocks .calc-block.business {
    background-size: 35px;
  }
  .calculator .calc-blocks .calc-block.unic {
    background-size: 35px;
  }
  .calculator .calc-blocks .calc-block.template {
    background-size: 26px;
    padding-left: 10%;
  }
  .calculator .calc-blocks .calc-block.hosting {
    background-size: 35px;
  }
  .calculator .calc-blocks .calc-block.domain {
    background-size: 33px;
  }
  .framework {
    height: auto;
  }
  .framework .display {
    display: none;
  }
  .framework .framework-info {
    width: 100%;
    margin-bottom: 60px;
  }
  .footer {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer .row .footer-menu {
    display: none;
  }
  .popup-window form {
    width: 300px;
  }
  .gallery {
    height: 450px;
  }
}
.menu.toggled a:not(.callback-btn) {
  display: block;
}
@media (max-width: 640px) {
  .menu a.active,
  .menu a:hover {
    border-bottom: 3px solid transparent !important;
    padding-bottom: 0;
  }
  .head {
    min-height: 50px;
    background-color: rgba(1, 57, 82, 0.79) !important;
  }
  .head .toggle-menu {
    display: block;
    position: absolute;
    z-index: 9999;
    padding-top: 10px;
  }
  .logo {
    top: 7px;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    position: absolute;
    display: block;
    width: 145px;
  }
  .menu {
    float: none;
    display: none;
    top: 30px;
    position: relative;
    width: 100%;
    padding-bottom: 30px;
  }
  .menu a {
    margin: 0 4px;
    display: block;
    font-size: 13px;
    padding: 0;
    transition: 0s;
  }
  .menu a.callback-btn {
    position: absolute;
    top: -32px;
    padding: 0 9px;
    right: 0;
    line-height: 30px;
    display: none;
  }
  .menu a:hover {
    border-bottom: 0;
  }
  .callback-btn.outOfMenu {
    position: absolute;
    top: 4px;
    padding: 0 9px !important;
    right: 8px;
    line-height: 30px;
    display: block;
    z-index: 999;
  }
  .calculator .calc-blocks .calc-block:not(:last-child) {
    margin-right: auto;
  }
  .calculator .calc-blocks .calc-block:nth-child(2n-1) {
    margin-right: 1.5%!important;
  }
  .calculator .calc-blocks .calc-block {
    margin-bottom: 1.5%;
    padding-left: 14% !important;
    width: 49%;
  }
  .calculator .calc-blocks.design {
    margin-left: 0;
    text-align: justify;
  }
  .calculator .calc-blocks.design .calc-block {
    width: 49%;
    margin-right: 0 !important;
  }
  .calculator .calc-blocks.design:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  .calculator .calc-blocks.more {
    text-align: justify;
  }
  .calculator .calc-blocks.more .calc-block {
    margin-right: 0;
    width: 49%;
  }
  .calculator .calc-blocks.more .calc-block.additional {
    width: 100% !important;
  }
  .we-are .we-are-block {
    width: 50%;
  }
  .gallery {
    max-height: 52%;
  }
  .calculator a.calculate {
    width: 100%;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
  }
  .footer .row .footer-form {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .footer .row .footer-address {
    width: 50%;
  }
  .hire-us .row {
    width: 100%;
  }
  .jumbo h1 {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  #slide-2 .row,
  #slide-3 .row {
    height: auto !important;
  }
  .gallery {
    height: 315px;
  }
  .owl-theme .owl-controls {
    margin-top: 10px !important;
  }
  .gallery .inner .site {
    margin-top: 30px;
  }
  .subscribe .row {
    width: 100%;
  }
  .framework-info {
    margin-left: 0 !important;
  }
  .framework input {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .calculator a.calculate {
    width: 100%;
  }
  .calculator .calc-finish-btns a {
    display: block;
    margin-bottom: 15px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .calculator {
    min-height: 538px;
    height: auto;
    transition: 0.3s;
    overflow: auto;
  }
  .calculator .calc-blocks .calc-block {
    padding-left: 18%!important;
    font-size: 14px;
  }
  .we-are,
  .hire-us,
  a[href="#we-are"] {
    display: none;
  }
}
@media (max-width: 414px) {
  .gallery {
    height: 300px;
  }
}
@media (max-width: 384px) {
  #development-slide .row {
    padding: 0;
  }
  #development-slide .row .jumbo h1.small {
    font-size: 50px;
  }
  .logo {
    right: 61px !important;
  }
}
@media (max-width: 340px) {
  .footer .row .footer-address {
    width: 55%;
  }
}
@media (max-width: 320px) {
  .gallery {
    height: 240px;
  }
}
@media (max-height: 768px) {
  .popup-window {
    padding: 2%;
    height: 320px;
  }
  #slide-2 .row,
  #slide-3 .row {
    height: auto !important;
  }
}
.head {
  transition: background-color 0.3s;
}
.head:not(.colored) {
  background-color: transparent;
}
.head.colored {
  background-color: rgba(1, 57, 82, 0.79);
}
.autoheight {
  position: relative;
}
.autoheight .arrow {
  position: absolute;
  bottom: 10%;
  z-index: 9999;
  width: 70px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
@media (max-width: 1024px) {
  .autoheight .arrow {
    bottom: 20px;
  }
}
.autoheight .arrow .next {
  width: 25px;
  height: 40px;
  float: left;
}
.autoheight .arrow .next:hover {
  cursor: pointer;
}
.autoheight .arrow .prev {
  width: 25px;
  height: 40px;
  float: right;
}
.autoheight .arrow .prev:hover {
  cursor: pointer;
}
.autoheight .arrow i {
  font-size: 62px;
  line-height: 39px;
}
