@font-face {
    font-family: 'GothamProLight';
    src: url('GothaProLig.eot');
    src: url('GothaProLig.eot') format('embedded-opentype'),
         url('GothaProLig.woff2') format('woff2'),
         url('GothaProLig.woff') format('woff'),
         url('GothaProLig.ttf') format('truetype'),
         url('GothaProLig.svg#GothaProLig') format('svg');
}
