@font-face {
    font-family: 'GothamProRegular';
    src: url('GothaProReg.eot');
    src: url('GothaProReg.eot') format('embedded-opentype'),
         url('GothaProReg.woff2') format('woff2'),
         url('GothaProReg.woff') format('woff'),
         url('GothaProReg.ttf') format('truetype'),
         url('GothaProReg.svg#GothaProReg') format('svg');
}
