@font-face {
    font-family: 'GothamProBold';
    src: url('GothaProBol.eot');
    src: url('GothaProBol.eot') format('embedded-opentype'),
         url('GothaProBol.woff2') format('woff2'),
         url('GothaProBol.woff') format('woff'),
         url('GothaProBol.ttf') format('truetype'),
         url('GothaProBol.svg#GothaProBol') format('svg');
}
